@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    max-width: 1600px;
    margin: 0 auto;
}

:root {
    --primary-color: #1A0B2E;
    --text-on-primary: #fff;
    --divider: #412567;
    --gradient-1: linear-gradient(to top right, #F7E93F 0%, #FB09B4 50%, #9100F8 100%);
}

/* shared design */

.logo {
    font-size: 3em;
    font-weight: 800;
}

.primary-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: var(--gradient-1);
    color: var(--text-on-primary);
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
}

.secondary-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: transparent;
    color: var(--text-on-primary);
    padding: 12px 20px;
    border: 2px solid green;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
}

.primary-btn:hover,
.secondary-btn:hover {
    transform: scale(1.05);
}

/* header section */

header .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--text-on-primary);
    padding: 24px 10%;
    border-bottom: 1px solid var(--divider);
}

.head .menu {
    display: none;
}

.logo-span {
    display: inline-block;
    background-image: var(--gradient-1);
    color: var(--primary-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
    display: flex;
    gap: 32px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-on-primary);
}

nav ul li:hover {
    background-image: var(--gradient-1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner {
    background-image: url("../assets/hero-bg.png");
    padding: 100px 10%;
    text-align: center;
    background-size: cover;
    background-position: center;
    color: var(--text-on-primary);
}

.banner-img-container {
    position: relative;
    background-image: url("../assets/hero-circle.png");
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 350px;
    margin: 0 auto 40px;
}

.banner-img-container img {
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-img-container span {
    position: absolute;
    top: 12px;
    right: 24px;
    padding: 8px 16px;
    background-color: #00FF88;
    color: #000;
    border-radius: 50px;
}

.banner-contant h1 {
    margin-bottom: 8px;
    font-size: 4em;
}

.banner-contant p {
    margin-bottom: 24px;
}

.banner-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/* about section */

.about {
    background-color: var(--primary-color);
    color: var(--text-on-primary);
    text-align: center;
    padding: 50px 10% 120px;
}

.about h3 {
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 16px;
}

.about p {
    line-height: 1.5em;
}

.about hr {
    opacity: 5%;
    margin: 80px 0;
}

.report-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.big-text {
    font-size: 3em;
    font-weight: 900;
    color: #00FF88;
}

/* feature section  */

.features-explain {
    padding: 120px 10%;
    background-color: #230E3D;
    color: var(--text-on-primary);
}


.features-explain h3 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 3em;
    font-weight: 600;
}

.feature-cards{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.feature-card {
    background-color: #351165;
    padding: 40px;
    border-radius: 40px;
}

.feature-card h4 {
    margin-bottom: 16px;
}

.feature-card p {
    line-height: 1.5em;
}

.feature-card img {
    margin-bottom: 16px;
}

.feature-cards .card-1 {
    grid-row: span 2;
}

.feature-cards .card-2 {
    grid-column: span 2;
}

.feature-cards .card-3 {
    grid-column: span 2;
}

.feature-cards .card-4 {
    grid-column: span 2;
}

.feature-cards .card-5 {
    grid-column: span 1;
}


.featured-episodes {
    padding: 120px 10%;
    background-color: var(--primary-color);
    color: var(--text-on-primary);
}

.featured-episodes h3 {
    margin-bottom: 40px;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
}

.episode-container {
    display: flex;
    gap: 30px;
}

.featured-episode {
    background-color: #35116540;
    border-radius: 24px;
    border: none;
}

.featured-episode iframe {
    border-radius: 24px 24px 0 0;
    border: none;
    height: 214px;
}

.featured-episode > h4 {
    padding: 12px 24px;
    font-size: 1.5em;
    font-weight: 600;
}

.featured-episode > p {
    padding: 12px 24px;
    line-height: 1.5em;
}

.featured-episode .duration {
    display: flex;
    align-items: center;
    padding: 12px 24px 24px;
    gap: 8px;
}

.featured-episode .duration img {
    width: 24px;
    height: 24px;
}

.featured-episode .duration p {
    font-weight: 600;
    line-height: 1.5em;
}

/* host section */

.host-section {
    padding: 0 10% 120px;
    background-color: var(--primary-color);
    color: var(--text-on-primary);
}

.host-section h3 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 3em;
    font-weight: 600;
}

.host-card {
    display: flex;
    background-color: #35116540;
    padding: 40px;
    border-radius: 16px;
    gap: 24px;
}

.host-bio h4 {
    margin-bottom: 16px;
}

.host-bio > p {
    margin-bottom: 16px;
    line-height: 1.5em;
}

.host-bio > .social-links {
    display: flex;
    gap: 8px;
}

.host-bio > .social-links span {
    border: 1px solid white;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

/* footer section */

footer {
    padding:120px 10% 120px;
    text-align: center;
    color: white;
    background-image: url("../assets/footer-bg.png");
    background-position: center;
    background-size: cover;
}

footer .logo {
    margin-bottom: 32px;
}

footer .channels {
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 32px;
}

.podcast-channel {
    display: flex;
    align-items: center;
    gap: 8px;
}

@media screen and (max-width: 576px) {
    .logo {
        font-size: 2em;
    }
    .head nav {
        display: none;
    }
    .head .primary-btn {
        display: none;
    }
    .head .menu {
        display: block;
    }


    .banner {
        padding: 40px 5%;
    }

    .banner-img-container {
        width: 200px;
        height: 200px;
        margin: 0 auto 24px;
    }

    .banner-img-container img {
        height: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .banner-contant h1 {
        font-size: 2em;
    }

    .about h3 {
        font-size: 2em;
    }
    
    .about hr {
        margin: 40px 0;
    }

    .report-card {
        grid-template-columns: repeat(2, 1fr);
    }

    .big-text {
        font-size: 2em;
    }

    .features-explain {
        padding: 40px 5%;
    }

    .features-explain h3 {
        font-size: 2em;
    }

    .feature-cards {
        grid-template-columns: 1fr;
    }

    .featured-episodes {
        padding: 40px 5%;
    }

    .featured-episodes h3 {
        font-size: 2em;
    }

    .episode-container {
        flex-direction: column;
    }


    .host-section h3 {
        font-size: 2em;
    }

    .host-card {
        flex-direction: column;
    }

    .host-bio {
        text-align: center;

    }

    .host-bio > .social-links {
        justify-content: center;
    }

    footer {
        padding: 40px 5%;
    }
}