@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    max-width: 1600px;
    margin: 0 auto;
}

:root {
    --primary-color: #412567;
    --text-on-primary: #fff;
    --divider: #d9aff550;
    --gradient-1: linear-gradient(to top right, #F7E93F 0%, #FB09B4 50%, #412567 100%);
}

/* shared design */

.logo {
    font-size: 2em;
    font-weight: 800;
}

.primary-btn {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    background: var(--gradient-1);
    color: var(--text-on-primary);
    padding: 1em 1.5em;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
}

.secondary-btn {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    background: transparent;
    color: var(--text-on-primary);
    padding: 1em 1.5em;
    border: 2px solid green;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
}

/* header section */

header .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--text-on-primary);
    padding: 24px 10%;
    border-bottom: 1px solid var(--divider);
}

.logo-span {
    display: inline-block;
    background-image: var(--gradient-1);
    color: var(--primary-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
    display: flex;
    gap: 2em;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-on-primary);
}

nav ul li:hover {
    background-image: var(--gradient-1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner {
    background-image: url("/assets/hero-bg.png");
    padding: 100px 10%;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text-on-primary);
}

.banner-img-container {
    position: relative;
    background-image: url("/assets/hero-circle.png");
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    margin: 16px auto;
}

.banner-img-container img {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-img-container span {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px 16px;
    background-color: green;
    border-radius: 50px;
}

.banner-contant h1 {
    margin-bottom: 16px;
}

.banner-contant p {
    margin-bottom: 16px;
}

.banner-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

/* about section */

.about {
    background-color: var(--primary-color);
    color: var(--text-on-primary);
    text-align: center;
    padding: 24px 10%;
}

.about h3 {
    margin-bottom: 16px;
}

.about hr {
    opacity: 10%;
    margin-top: 24px;
}

.report-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 24px;
    gap:24px;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.big-text {
    font-size: 3em;
    font-weight:600;
}

.features-explain {
    padding: 48px 10%;
    background-color: #412567;
    color: var(--text-on-primary);
}
.features-explain h3 {
    margin-bottom: 24px;
    text-align: center;
}

.feature-cards{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
}

.feature-card {
    background-color: #512391;
    padding: 24px;
    border-radius: 16px;
}

.feature-cards .card-1 {
    grid-row: span 2;
}

.feature-cards .card-2 {
    grid-column: span 2;
}

.feature-cards .card-3 {
    grid-column: span 2;
}

.feature-cards .card-4 {
    grid-column: span 2;
}

.feature-cards .card-5 {
    grid-column: span 1;
}

.featured-episodes {
    padding: 24px 10%;
    background-color: var(--primary-color);
    color: var(--text-on-primary);
}

.featured-episodes h3 {
    margin-bottom: 16px;
    text-align: center;
}

.episode-container {
    display: flex;
    gap: 16px;
}
.featured-episode {
    background-color: #7b50b8;
    border-radius: 16px;
    border: none;
}
.featured-episode iframe {
    border-radius: 16px 16px 0 0;
}

.featured-episode > h4,
.featured-episode > p {
    padding: 8px 16px;
}

.featured-episode .duration {
    display: flex;
    padding: 8px 16px;
    gap: 8px;
}

.host-section {
    padding: 24px 10%;
    background-color: var(--primary-color);
    color: var(--text-on-primary);
}

.host-section h3 {
    text-align: center;
    margin-bottom: 16px;
}

.host-card {
    display: flex;
    background-color: #7b50b8;
    padding: 16px;
    border-radius: 16px;
    gap: 16px;
}

.host-bio h4 {
    margin-bottom: 16px;
}

.host-bio > p {
    margin-bottom: 16px;
}

.host-bio > .social-links {
    display: flex;
    gap: 16px;
}

.host-bio > .social-links span {
    border: 1px solid white;
    padding: 16px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

/* footer section */

footer {
    padding:100px 10% 24px;
    text-align: center;
    color: white;
    background-image: url("/assets/footer-bg.png");
    background-position: center;
    background-size: cover;
}

footer .logo {
    margin-bottom:16px;
}

footer .channels {
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 16px;
}

.podcast-channel {
    display: flex;
    align-items: center;
    gap: 8px;
}

